<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.diagnostics>
    <sources>
      <source name="GenericFilter" switchValue="All" >
        <listeners>
          <add name="console" />
          <add name="file" />
          <remove name ="Default" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="console"
        type="System.Diagnostics.ConsoleTraceListener"
        initializeData="false"/>
      <add name="file" 
           type="System.Diagnostics.TextWriterTraceListener" 
           initializeData="scan.log" />
    </sharedListeners>
    <!--<trace autoflush="true" indentsize="4"/>-->
    <trace autoflush="false" indentsize="4">
      <!--<listeners>
        <add name="console" />
      </listeners>-->
    </trace>
  </system.diagnostics>
</configuration>